* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: url(background.jpg);
}

h1{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  height: 50px;
}


body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'Notable', sans-serif;
  font-family: 'Noto Serif JP', sans-serif;
}

section {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 50px;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 100%;
}

footer {
  clear: both;
}

header, aside, footer {
  padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: maroon;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}


li a:hover {
    background-color: red;
}

.image{
  text-align: center;
}

.isi{
  padding: 10px;
}

.hiasan{
  width: 200px;
  border-radius: 50%;
  box-shadow: 10px 15px 0px 15px rgba(235,12,12,1);
}

.left{
  float: left;
  margin-right: 70px;
  margin-bottom: 50px;
}

.right{
  float: right;
  margin-left: 70px;
  margin-bottom: 50px;
}

#logo{
  width: 70px;
  float: left;
}

#header{
  width: 100%;
}

footer{
  background-color: red;
  text-align: center;
}

#logosmall{
  width: 50px;
  float: left;
  margin-right: 10px;
}
